fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
opencv-python-headless
pytesseract
boto3
Pillow>=10.4.0
python-dotenv
websockets
httpx
email-validator
